<% layout("layouts/boilerplate") %> 
    
<section class="hero__section">
  <header>
    <nav class="navbar">
      <a href=""><span style="font-weight: 700 ; color: white;" > #FoodiesCorner </span></a>
      <div class="navbar__menu_container">
        <% if (kuUser) { %>
         
        <a href="/notification" class="link"><span style="font-weight: 700 ; color: white;" > Notifications </span> </a>
        <a href="" class="link"><span style="font-weight: 700 ; color: white;" > | </span> </a>
        
        <% } %>

        
        <% if(!kuUser){ %> 
        <a href="/login" class="link"><span style="font-weight: 700 ; color: white;" > Login / SignUp </span></a>
        <!-- <a href="" class="link"><span style="font-weight: 700 ; color: white;" > | </span> </a>
        <a href="/login" class="link"><span style="font-weight: 700 ; color: white;" > Sign Up</span></a> -->
        <% } else { %>
          <a href="/dashboard" class="link"><span style="font-weight: 700 ; color: rgb(255, 255, 255);" > Dashboard </span> </a>
        <a href="" class="link"><span style="font-weight: 700 ; color: white;" > | </span> </a>
          <p><a href="/dashboard" class="link"><span style="font-weight: 700 ; color: rgb(255, 255, 255);" > <span style="font-weight:500;"> I'm </span>  <span style="color: yellow ;"> <%= kuUser.username %></span></span> </a> </p>
          <button class="btn btn-danger"><a href="/logout" class="link"><span style="font-weight: 700 ; color: white;"> Logout </span></a></button>
          <% } %>  
      </div>
    </nav>
  </header>
  <div class="hero__section_container">
    <img
      class="hero__section_logo"
      src="/images/Foodbaylogo.png"
      alt="FoodBay Logo"
    />
    
    <div class="hero__section_input_container">
      <input
        class="input_container_location"
        type="text"
        disabled
        placeholder="Hello, Login/SignUp right away."
      />
      <!-- <input
        class="input_container_search"
        type="text"
        placeholder="Search for a restaurant near you"
      /> -->
    </div>
  </div>
</section>

<section class="container we__offer">
  <div class="card">
    <img src="./images/item1.png" alt="offer" />
    <h2>Order Here (Soon)</h2>
    <p>Order to your doorstep</p>
  </div>
  <div class="card">
    <img src="./images/item2.png" alt="offer" />
    <h2>Your Favourites (Soon)</h2>
    <p>Favourites / Wishlists can be seen here.</p>
  </div>
  
</section>

<section class="container collections" id="live-restaurant">
  <h1>Live Restaurants</h1>
  <div class="sub__heading_container">
    <span
      >Lists of restaurants, cafes & food spot which are <span style="font-weight: 800; color: red; ">Open Now.</span></span
    >
    
  </div>
  <div class="collections_card_container">
    <% data.forEach((data,index)=>{ %> 
        <a href="/restaurent/<%= data._id %> ">
    <div class="card card2" style="background-image:url('<%= data.image %>');">
      <div class="overlay"></div>
      <div class="content">
        <h4><%= data.name%></h4>
        <span><%= data.time %> </span>
      </div>
    </div>
</a>
    <% }) %> 
  </div>
</section>

<section class="container get__the_app">
  <div class="semiContainer">
    <div class="right">
      <p>For Live Updates, Connect with us.</p>
      <div class="radio__buttons_container">
        <div>
          <input type="radio" id="email" name="download_app" />
          <label for="email" style="font-size: 14px">Email</label>
        </div>
        <div>
          <input type="radio" id="phone" name="download_app" />
          <label for="phone" style="font-size: 14px">Phone</label>
        </div>
      </div>
      <div class="input_container">
        <input type="text" placeholder="Email / Phone" />
        <button>Submit</button>
      </div>
      
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer_section1">
    <img src="./images/FoodbayBlacklogo.png" style="color: black;" alt="zomato logo" />
    <div class="section1__buttonContainer">
      
    </div>
  </div>
  <div class="navigation_container">
    <div class="link__container">
      <h5>ABOUT US</h5>
      <a class="footer__link" href="/ourteam">About Us</a>
      <a class="footer__link" href="/feedback">Feedbacks</a>
    </div>

    
    <% if(kuUser && kuUser.isOwner == "true"){ %> 
    <div class="link__container">  
      <h5>FOR RESTAURANTS</h5>
        <a class="footer__link" href="/newRestaurant">Add New Restaurant</a>
        <br />
      </div>
        <% } else { %>
          <% } %>  

      <!-- <a class="footer__link" href="/newRestaurant">Add New Restaurant</a> -->
      <!-- <a class="footer__link" href="#">Apps For You</a> -->
      
    

    <!-- <div class="link__container">  
      <h5>FOR RESTAURANTS</h5>
        <a class="footer__link" href="/newRestaurant">Add New Restaurant</a>
      <br />
    </div> -->

    <div class="link__container">
      <h5>LEARN MORE</h5>
      <a class="footer__link" href="https://drive.google.com/drive/folders/1-0FHexlNUMTTOU9W3kR-POlYrp0XearG">Project Report</a>
      <!-- <a class="footer__link" href="#">Designs</a> -->
    </div>


    <div class="link__container">
      <h5>SOCIAL LINKS</h5>
      <div class="social__links_container">
        <button><a href="https://www.linkedin.com/in/hafiscp"><i class="fa-brands fa-linkedin-in"></i></a></button>
        <button> <a href="#"><i class="fa-brands fa-instagram"></i></a></button>
        <button><a href="https://github.com/hafiscp/test/"><i class="fa-brands fa-github"></i></a></button>
        
                    
      </div>
      <br />
    </div>

  </div>
</footer>

